<hello name="{{ name }}"></hello>
<div>
  <p>
    Start editing to see some magic happen :)
  </p>
  <p id="thing">JavaScript can change HTML content.</p>

  <button type="button" onclick='document.getElementById("thing").innerHTML = "Stackblitz JavaScript"'>Click Me!</button>
  <p id="demo">JavaScript can change the style of an HTML element.</p>

  <button type="button" onclick="document.getElementById('demo').style.fontSize='50px'">Click Me!</button>
</div>
<div class="boxTwo">
  <img src="https://pbs.twimg.com/profile_images/1055142255722344448/xhqy_EUP_400x400.jpg">
</div>
<div>
  <h1>Dragon Fruit</h1>
  <img src="https://images-na.ssl-images-amazon.com/images/I/71glW-5Mo%2BL._SX425_.jpg" height="300px" width="300px">
</div>
<div>
  <p class="dotted">A dotted border.</p>
  <p class="dashed">A dashed border.</p>
  <p class="solid">A solid border.</p>
  <p class="double">A double border.</p>
  <p class="groove">A groove border.</p>
  <p class="ridge">A ridge border.</p>
  <p class="inset">An inset border.</p>
  <p class="outset">An outset border.</p>
  <p class="none">No border.</p>
  <p class="hidden">A hidden border.</p>
  <p class="mix">A mixed border.</p>
</div>

